
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

:root{
    --main-bg-color: #2874f0;

}
* {
    padding: 0;
    margin: 0;
}
header{
    background: var(--main-bg-color);
    font-family: 'Lato', sans-serif;
    position: sticky;
    top: 0;
}

nav{
    display: flex;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 88px;
    padding: 0 25px;
}

nav ul{
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li{
    list-style: none;
    padding: 0 23px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    /* color: rgb(220, 216, 241); */
    font-weight: bolder;
}

.search{
    display: flex;
    align-items: center;
}

.search input{
    width: 30vw;
    height: 33px;
    border-radius: 2px;
    margin: 0 16px 0 56px;
    padding: 0 12px;
}

.search button{
    font-family: 'Lato', sans-serif;
}
.search a{
    color: white;
    padding: 0 10px;
    text-decoration: none;
    
}
.search ul li a{
    list-style-type: none;
    font-family: 'Lato', sans-serif;
}
.search a:hover{
    font-weight: bolder;
}

.slider{
    width: 80vw;
    margin: 12px auto;
    overflow: hidden;
}
.card{
    max-width: 91vw;
    margin: 37px auto;
    font-family: 'Ubuntu', sans-serif;
}

.cards{
    display: flex;
    overflow: auto;
    flex-direction: column;
}

.card-item{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 15px;
}

.card h2{
    font-family: 'Lato', sans-serif;
}
.container{
    min-height: calc(100vh - 58px - 12vh);
}

footer{
    height: 12vh;
    background: var(--main-bg-color);
    color: white;
    font-family: 'Lato', sans-serif;
}